<!DOCTYPE html>
<html class="mhtml">
    {% include head.html %}
    <body>
        <div id="app">
            <header>
              <h1>Game</h1>
            </header>
            <main id="appmain" role="main">
              <aside>
                <!--<dark-mode-toggle mode="dark" appearance="switch" permanent="true" legend="hello" light="Bright" dark="Dark" remember="rememberSettings"></dark-mode-toggle>-->
                
              </aside>
              <article>
                hi
              </article>
            </main>
          </div>
    </body>
</html>